@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background: black;
}

@keyframes glowing {
  0% { box-shadow: 0 0 10px #4ade80; }
  50% { box-shadow: 0 0 30px #4ade80; }
  100% { box-shadow: 0 0 10px #4ade80; }
}

.glow-effect {
  animation: glowing 2s infinite;
}